{
  "version": "2017-02-28",
  "operation": "GetItem",
  "key": {
      "versionId": $util.dynamodb.toDynamoDBJson($util.defaultIfNullOrBlank($ctx.source.kubernetesDeploymentFileVersionId, "___xamznone____"))
  }
}